.PriceChart {
  height: 30vw;
  width: 100%;
}

.PriceChart-tooltip {
  background-color: hsl(215, 15%, 15%);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid hsl(215, 75%, 50%);
  text-align: left;
}
